/*------------------------------------------------------------------------------
 - ESTILO GENERAL
 -----------------------------------------------------------------------------*/
body {
    font: 100% Arial,Helvetica,sans-serif;
    background: url(../images/pared.jpg) top left repeat-x #F7E8CE;
    color: #150002;
}

.float-left{float:left !important;}
.float-right{float:right !important;}
.padding-null{padding:0 !important;}
.margin-null{margin:0 !important;}
.tag-center{margin: 0 auto !important;}
.text-center{text-align: center !important;}
.margin-left-1{margin-left:15px !important;}
.border{border:1px solid red !important;}
ul{
    margin:0;
    padding: 0;
    list-style-type: none;
}
p{margin-bottom:0;}

.text-small{font-size: 80%;}
.text-medium{font-size: 90%;}
.text-large{font-size: 100%;}

h1{
    font-size: 150%;
}
h2{
    font-size: 150%;
    font-weight: bold;
    color: #F79423;
}

.required{
    font-size: 100%;
    font-weight: bold;
    color:red;
    margin-right: 5px;
}

#mask{
    position: absolute;
    width:100%;
    background-color: #fff;
    display: none;
    z-index: 1000;
}

#imgCaptcha{margin-right: 10px; border:1px solid #ccc;}
.notice{
    clear: left;
    margin-top: 100px;
    text-align: center;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA LINK
 -----------------------------------------------------------------------------*/
a{
    font-size:80%;
    color:#4C4C4C !important;
    text-decoration: none;
    font-family: Arial,Helvetica,sans-serif;
}
    a:hover{
        text-decoration: underline;
    }
a.link1{
    color:#D47F03;
    font-weight:bold;
}
    a.link1:hover{
        color:#4C4C4C;
    }
a.link2{
    color:#fff;
    font-weight:bold;
    font-size: 90%;
}
    a.link2:hover{
        color:#000;
        text-decoration: none;
    }
a.link-olvidocontra{
    position: relative;
    font-size: 90%;
    font-style: italic;
    top: -13px;
}
a.link-title{
    font-size: 90%;
    color: #150002 !important;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA INPUT y TEXTAREA
 -----------------------------------------------------------------------------*/
input[type=text],input[type=password], textarea{
    border:1px #E7B969 solid;
    background-color:#F7E9CF;
    /*padding:0 0 2px 5px;*/
    padding:3px;
    text-align:left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:80%;
    margin-top:0 !important;
    letter-spacing: 1px;
}
input.input-login{
    float:left;
    width: 150px;
    margin-right: 5px;
}
input.input-form{
    font-size: 90%;
    width: 300px;
}
input.input-phone{
    font-size: 90%;
    width: 225px;
}
input.input-phonearea{
    font-size: 90%;
    width: 50px;
    text-align: center;
}
input.input-captcha{
    width: 150px;
    font-size: 120%;
    text-align: center;
    letter-spacing: 5px;
    margin-left: 5px;
    margin-top: 10px;
}
input.input-date{
    width: 90px;
    text-align: center;
}
textarea.textarea-contact{
    width: 450px;
    height: 180px;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA SELECT
 -----------------------------------------------------------------------------*/
select{
    border:1px #E7B969 solid;
    background-color:#F7E9CF;
    padding:2px 0 2px 0;
    text-align:left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:90%;
    font-weight: normal;
    margin-top:0 !important;
    letter-spacing: 1px;
}
select.select-form{
    width: 308px;
}


/*------------------------------------------------------------------------------
 - ESTILOS PARA BUTTON
 -----------------------------------------------------------------------------*/
button{
    font-family:Arial, Helvetica, sans-serif;
    border:none;
    font-size: 80%;
    font-weight:bold;
    text-align:center;
    color:#000;
}
button.button-small{
    background:url(../images/btn_small.png) top left no-repeat;
    width:46px;
    height:24px;
}
    button.button-small:hover{
        background:url(../images/btn_small_over.png) top left no-repeat;
    }
button.button-medium{
    background:url(../images/btn_medium.png) top left no-repeat;
    width:60px;
    height:24px;
}
    button.button-medium:hover{
        background:url(../images/btn_medium_over.png) top left no-repeat;
    }
button.button-large{
    background:url(../images/btn_large.png) top left no-repeat;
    width:96px;
    height:24px;
}
    button.button-large:hover{
        background:url(../images/btn_large_over.png) top left no-repeat;
    }

/*------------------------------------------------------------------------------
 - ESTILOS PARA LABEL
 -----------------------------------------------------------------------------*/
label.label-form{
   font-size: 90%;
}
label.label-legend{
    font-style: italic;
    font-weight: bold;
    font-size: 80%;
    color: #000;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA EL HEADER
 -----------------------------------------------------------------------------*/
.header{
    background: url(../images/header.jpg) no-repeat top left;
    width: 950px;
    height: 495px;
}
.top-header{
    position: relative;
    margin-top: -15px;
}
    .top-header .login{
        float: left;
        position: relative;
        margin-left: 20px;
        margin-top: 5px;
        overflow: hidden;
    }
    .top-header .container-links{
        float: right;
        width: 400px;
        text-align: right;
    }
    #message-login{
        position:relative;
        float: left;
        clear: left;
        left:0;
        top:-30px;
        background: #E6EFC2;
        color:#264409;
        border:2px solid #C6D880;
        display:none;
        font-size:90%;
        padding:5px;
        width:312px;
        height: inherit;
        text-align: center;
    }

/*------------------------------------------------------------------------------
 - ESTILOS PARA EL MENU  (HEADER FRONT-PAGE)
 -----------------------------------------------------------------------------*/
.menu-container{
    margin-top: -177px;
    padding-left: 10px;
}
ul.menu{
    float: left;
    width: 600px;
    height: 64px;
    height: inherit;
}
    ul.menu li{
        display: inline;
        float: left;
        width: 123px;
        height: 59px;
        margin-right: 10px;
    }
        ul.menu li a{
            text-decoration: none !important;
            display:block;
            width: 70px;
            height: 30px;
            padding:30px 0 0 55px;
            font-family:Arial, Helvetica, sans-serif;
            font-size: 80%;
            font-weight:bold;
            color:#4C4C4C;
            /*border:1px solid red;*/
        }
        ul.menu li a.mnu_inicio{
            background: url(../images/mnu_inicio.png) no-repeat top left;
        }
        ul.menu li a.mnu_fechas{
            background: url(../images/mnu_fechas.png) no-repeat top left;
        }
        ul.menu li a.mnu_bandas{
            background: url(../images/mnu_bandas.png) no-repeat top left;
        }
        ul.menu li a.mnu_recitales{
            background: url(../images/mnu_bandas.png) no-repeat top left;
        }
        ul.menu li a.mnu_contacto{
            background: url(../images/mnu_contacto.png) no-repeat top left;
        }

/*------------------------------------------------------------------------------
 - ESTILOS PARA EL CONTAINER CENTRAL
 -----------------------------------------------------------------------------*/
.main-container{
    background-color: #fff;
    padding-bottom: 50px;
}
    .main-container .column-left{
        min-height: 100px;
        padding: 0 10px 10px 35px;
        /*border:1px solid red;*/
    }
    .main-container .column-right{
        float:right;
        min-height: 100px;
        padding-right: 10px;
        /*border:1px solid red;*/
    }
        .main-container .column-right .sidebar{
            float:left;
            width: 220px;
            height: inherit;
            background-color: #F9F5F4;
            padding:0 0 20px 8px;
        }

/*------------------------------------------------------------------------------
 - ESTILOS PARA EL FOOTER
 -----------------------------------------------------------------------------*/
.footer{
    background:url(../images/footer.png) top left no-repeat;
    background-color: #fff;
    width: 950px;
    height: 32px;
    text-align: center;
    padding-top: 110px;
    font-size: 90%;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA BANNER
 -----------------------------------------------------------------------------*/
.banner-horizontal{
    margin-top: -114px;
    /*border:1px solid;*/
}
.banner-vertical{
    float: left;
    clear: left;
    margin:10px 0 0 5px;
    /*border:1px solid;*/
}


/*------------------------------------------------------------------------------
 - ESTILOS PARA LOS ANUNCIANTES
 -----------------------------------------------------------------------------*/
.anunciante{
    float:left;
    clear:left;
    width: 638px;
    height: inherit;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #150002;
}
    .anunciante .col-1{
        float:left;
        width: 120px;
        text-align: center;
    }
    .anunciante .col-2{
        font-size: 90%;
    }

/*------------------------------------------------------------------------------
 - ESTILOS PARA TITULOS
 -----------------------------------------------------------------------------*/
h2.title-form{
    font-size: 100%;
    width: 600px;
    margin-top: 15px;
    border-bottom: 1px solid #000;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA LISTAS
 -----------------------------------------------------------------------------*/
ul.list-generos{
    display: list-item;
    margin-top:15px;
    width: 220px;
    font-weight: bold;
    font-size: 110%;
}
    ul.list-generos li a{
        cursor: pointer;
    }
        ul.list-generos li a:hover{
            text-decoration: none;
            color: #00
        }
    ul.list-generos li span.item{
        float: left;
        width: 183px;
        margin: 0 0 6px 8px;
        padding-bottom: 6px;
        border-bottom:1px dashed #150002;
    }
    ul.list-generos li img.item-img{
        float: left;
        clear: left;
        margin-top: 3px;
    }

/*------------------------------------------------------------------------------
 - ESTILOS PARA EL POPUP
 -----------------------------------------------------------------------------*/
.popup{
    position: fixed;
    width: 300px;
    height: inherit;
    z-index: 2000;
    display: none;
}
    .popup .top{
        float: left;
        background: url(../images/popup_top.png) no-repeat top left;
        width: 300px;
        height: 14px;
    }
    .popup .middle{
        float: left;
        clear: left;
        background: url(../images/popup_middle.png);
        background-color: #F8F0ED;
        width: 280px;
        height: inherit;
        padding: 10px 10px 10px 10px;
        font-size: 90%;
    }
    .popup .bottom{
        float: left;
        clear: left;
        background: url(../images/popup_bottom.png) no-repeat top left;
        width: 300px;
        height: 14px;
    }

/*------------------------------------------------------------------------------
 - ESTILOS PARA TABLAS
 -----------------------------------------------------------------------------*/
table{
    font-size: 90%;
}
table thead{
    background-color: #E8BB6A;
}
    table thead tr td{
        font-weight: bold;
        padding-left: 0;
    }
table tbody{
    background-color: #F6E9D5;
    font-weight: normal;
}
    table tbody tr td{
        padding:5px 0 5px 0;
    }

table.table-list{
    width: 100%;
    margin-top: 20px;
}
    /*table.table-list td{border-right: 1px solid red;}*/
    table.table-list .cell-1{
        width: 15px;
    }
    table.table-list .cell-2{
        width: 200px;
    }
    table.table-list .cell-3{
        width: 290px;
    }
    table.table-list .row-par{
        background-color: #F6F3EE;
    }

