/*------------------------------------------------------------------------------
 - ESTILO GENERAL
 -----------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
 - ESTILOS PARA INPUT y TEXTAREA
 -----------------------------------------------------------------------------*/
input[type=text],input[type=password], textarea{
    letter-spacing: 0;
}

input.input-captcha{
    letter-spacing: 3px;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA BUTTON
 -----------------------------------------------------------------------------*/
button{
    margin-right: 5px;
}
button.button-search{
    margin-top:-30px;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA EL HEADER
 -----------------------------------------------------------------------------*/
.top-header .login{
    margin-left: 10px;
}
#message-login{
    left:10px;
}
